.root {
  display: flex;
  align-items: center;
  padding: 24px 32px;
  background-color: var(--gray);
}

.title {
  color: var(--white);
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-decoration: none;
}

.cart {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
  color: white;
}

.amount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  height: 28px;
  min-width: 28px;
  background: var(--orange);
  border-radius: 8px;
  margin-right: 8px;
}
