.root {
  display: flex;
  align-items: center;
  padding: 24px 32px;
  background-color: var(--gray);
}

.aboutUs,
.questions {
  color: var(--white);
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration: none;
}

.questions {
  margin-right: auto;
}
